{% extends "base.html.twig" %}
{% block title %}Secret Area{% endblock %}
{% block body %}
    {% if message == 'Added' %}
        <p class="correct-message">Your user have been added to database!</p>
    {% elseif message == 'Edited' %}
        <p class="correct-message">User have been edited!</p>
    {% endif %}
    <h1>Secret area for logged users</h1>
    <a href="{{ path('app_securedAreaAdd') }}"><button type="button" name="addUser" class="add-user-button">
        Add user <i class="fa fa-plus"></i></button></a>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Edit</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td><a href="{{ path('app_securedArea') }}/edit/{{ user.id }}" class="far fa-edit"></a></td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
